* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  background-color: #000000;
}

html,
body {
  height: 100%;
}

.container {
  width: 1280px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* MENU */

.navtop {
  height: 48px;
  padding-top: 30px;
}

.navbar {
  list-style-type: none;
  width: 620px;
  height: 15px;
  margin: 0 auto;
  text-align: center;
}

.navbar li {
  float: left;
  height: 27px;
}

.navbar li:nth-child(1) {
  width: 68px;
  margin-right: 72px;
}

.navbar li:nth-child(2) {
  width: 131px;
  margin-right: 72px;
}

.navbar li:nth-child(3) {
  width: 87px;
  margin-right: 50px;
}

.navbar li:nth-child(4) {
  width: 140px;
}

.navbar li a {
  color: #ff0000;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  /* под вопросом */
  /* vertical-align: text-bottom; */
}

/* IMG */

.frontimage {
  width: 1280px;
  height: 789px;
}

/* MAIN */

.content {
  width: 1145px;
  margin: 0 auto;
  margin-top: 49px;
}

.header-content {
  width: 774px;
  height: 29px;
  margin: 0 auto;
  margin-bottom: 38px;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  padding-top: 2px;
}

.content p:nth-child(2) {
  height: 132px;
}

.content p:nth-child(3) {
  height: 216px;
}

main .text + .text {
  margin-top: 28px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}

.buttongs {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  margin: 66px 0 42px calc(50% - 191px / 2);
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  width: 191px;
  height: 51px;
  background: #ff0000;
  border-radius: 4px;
  border: 0px;
}

/* FOOTER */

.footer {
  width: 1070px;
  height: 39px;
  margin: 40px 0px 0 105px;
  padding-bottom: 29px;
}

.copyright {
  width: 463px;
  height: 39px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin-left: 608px;
}
